.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store

# Suppress folders
input_data/*
input_data.zip
clean_data/*
output_CWC/*
output_CWC.zip
output_coda/*
output_dfs/*
output_dfs_new/*
output_dfs.zip
plots/*

# Suppress scripts we used to explore the output
07a_output_summary.R
07b_CWC_output_summary.R
