
# Suppress files related to R project
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Suppress files related specifically to Macs
.DS_Store

# Suppress folders with large files
input_data/*
input_data.zip
clean_data/*
output_CWC/*
output_CWC.zip
output_coda/*
output_dfs/*
output_dfs_new/*
output_dfs.zip
plots/*
archive/*
A-semi-mechanistic-model-for-partitioning-evapotranspiration/*
A-semi-mechanistic-model-for-partitioning-evapotranspiration.zip

# Suppress scripts we used to explore the output
07a_output_summary.R
07b_CWC_output_summary.R
